*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.outer{
    display:flex;
    justify-content: center;
    align-items:center;
    min-height:100vh;  
}
body{
    background-image: url('/card\ blue\ fire.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.box{
    border:2px solid black;
    padding-top:4rem;    
    padding-left:4rem;    
    padding-right:4rem;    
    padding-bottom:2rem;    
}
.inner{
    border:2px solid rgba(0, 0, 0, 0.415);
    padding:3rem;
    border-radius: 30px;
    background-color: rgba(245, 245, 245, 0.220);
}
#exit{
    width:100%;
    padding-top:1.2rem;
    padding-bottom:1.2rem;
    border:2px solid black;
    background-color: white;   
}
.box #stone,#paper,#sissor{
    padding-top:1.2rem;
    padding-bottom:1.2rem;
    width:7rem;
    border:2px solid black;
    border-radius:10px;
    background-color: white;
    text-transform: uppercase;    
}
.choose{
    margin-left: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
}
#stone:hover,#sissor:hover,#paper:hover,#exit:hover{
    background-color:lightslategrey;
}
h2{
    text-align: center;
    padding-bottom: 2rem;
    font-size: 1.8rem;
    font-family: cursive;
}
h1{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
    
}